<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/CSS/stylesheet.css">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Qui est-ce ?</title>
</head>
<body>
    <nav class="liens_menu" id="liens_menu">
			<a href="{{ url_for('accueil') }}" class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Harry_Potter_wordmark.svg" alt="Harry Potter">
            </a>
			<ul style ="display : flex; align-items : center;">
        		<li><a href="{{ url_for('jeu') }}">Mode Solo</a></li>
                <li><a href="#">Mode Duel</a>
                <ul>
                    <li><a href="{{ url_for('choisir_mode_duo', difficulty='easy') }}">Niveau Facile</a></li>
                    <li><a href="{{ url_for('choisir_mode_duo', difficulty='hard') }}">Niveau difficile</a></li>
                </ul>
                </li>
			</ul>
    </nav>
    <header class="header_accueil">
        <div class="header_text appear">
            <h1 >Qui est-ce ?</h1>
            <h4>La magie est dans les détails… sauras-tu percer le mystère ?</h4>
        </div>
    </header>

    <section class="main_section">
        <h1>Bienvenue à Poudlard, jeune sorcier !</h1>
        <!-- <img src="https://media1.tenor.com/m/YEPii0Pgd-kAAAAC/sorting-hat.gif" alt="Choixpeau magique" style="width:60%; max-width:550px; margin-top:60px; margin-bottom:35px">-->
        <p>Un personnage du monde magique s’est caché derrière une carte mystère. À toi d’enquêter afin de dévoiler son identité. À chaque tour, tu peux poser une question pour réduire la liste des personnages possibles. Lorsque tu te sens prêt, tente ta chance et devine le personnage caché.</p>
        <p style="font-size: 14px; color: #888; margin-top: 10px; margin-bottom: 30px;  font-style: italic;">
            🔮 Durant ton enquête, laisse la magie éliminer automatiquement les suspects après chaque indice, ou prend le contrôle et décide toi-même qui écarter de ton investigation ! Dans ce cas, il faudra cliquer sur les cartes pour éliminer les sorciers innocentés.
        </p>
        <p style="font-size: 25px; color : #8B0000; font-weight: bold; "> 
            Choisis ton mode de jeu et lance-toi dans cette aventure ensorcelante !
        </p>

    </section>
        <div class="card-container">
        <div class="card-jeu">
            <img src="{{ url_for('static', filename='images/image_solo.jpg') }}">
            <div class="card-content">
                <h3>Mode Solo</h3>
                <p>Affronte le mystère seul. Analyse les indices et trouve le personnage avec le moins de questions possible.</p>
                <div class = "option-grisage" style="margin-top: 15px ;">
                    <h4 style ="font-size: 12px; margin-top: 70px;"> Choisis ton style d'enquête :</h4>
                    <label style="display: block; font-size: 13px;">
                        <input type="radio" name="grisage" value="true" checked>
                        Automatique
                    </label>
                    <label style="display: block;  font-size: 13px; margin-bottom: 30px;">
                        <input type="radio" name="grisage" value="false" >
                        Manuel 
                    </label>
                    <button class="btn" onclick="startSolo()">Commencer la partie</button>
                 </div>
            </div>
        </div>
        <div class="card-jeu">
            <img src="{{ url_for('static', filename='images/image_ordi_joueur.jpg') }}">
            <div class="card-content">
                <h3>Mode Duel</h3>
                <p>Un véritable duel de sorciers t’attend ! Affronte ton adversaire et tente de découvrir son personnage. Si il découvre le tien avant que tu ne découvres le sien, la partie est perdue.</p>
                <div class = "option-grisage" style="margin: 15px 0;">
                    <h4 style ="font-size: 12px; "> Choisis ton style d'enquête :</h4>
                    <label style="display: block; font-size: 13px;">
                        <input type="radio" name="grisage_duo" value="true" checked>
                        Automatique
                    </label>
                    <label style="display: block;  font-size: 13px;">
                        <input type="radio" name="grisage_duo" value="false">
                        Manuel 
                    </label>
                 </div>
                <button class="btn" onclick="startDuo('easy')">Niveau Facile</button>
                <button class="btn" onclick="startDuo('hard')">Niveau Difficile</button>
            </div>
        </div>
    </div>

<!--
<div class="dropdown">
    <button class="start-button">Partie Duo</button>
    <div class="dropdown-content">
        <a href="/choisir_mode_duo?difficulty=easy">Facile</a>
        <a href="/choisir_mode_duo?difficulty=hard">Difficile</a>
    </div>
</div>
-->
</body>
</html>
