<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fin du jeu</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/stylesheet.css">
</head>
<body>

<h3 class="message-resultat">{{ message }}</h3>

{# === CAS 1 : incohérent (aucun personnage possible) === #}
{% if resultat is none %}
    <p>Essaie de répondre de façon plus cohérente aux questions pour que l’ordinateur puisse trouver un personnage.</p>

{# === CAS 2 : l'ordinateur gagne (resultat == False) === #}
{% elif not resultat %}
<h3>L’ordinateur a deviné ton personnage que ton personnage était {{ computer_guess }} ! Tu devais deviner {{ secret }}.</h3>
<!--<div class="result-images">
        <div class="image-block opponent-guess incorrect">
            <img src="{{ secret_image }}" alt="{{ computer_guess }}">
            <p>{{ computer_guess }}</p>
        </div>

        <div class="image-block player-secret correct">
            <img src="{{ personnages[secret] }}" alt="{{ secret }}">
            <p>{{ secret }}</p>
        </div>
    </div>
-->
<div class="result-images">
        <div class="wrapper">
            <div class="card">
                <div class="front-page">
                    <img src="{{ secret_image }}" alt="{{ computer_guess }}">
                    <div class="card-info">
                        <h2 class="card-title">{{ computer_guess }}</h2>
                    </div>

                </div>
                <div class="back-page">
                    <div class="card-content">
                        <h2 class="card-title">{{ computer_guess }}"</h2>
                        <p> {{ description_guess }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="card">
                <div class="front-page">
                    <img src="{{ personnages[secret] }}" alt="{{ secret }}">
                    <div class="card-info">
                        <h2 class="card-title">{{ secret }}</h2>
                    </div>
                </div>
                <div class="back-page">
                    <div class="card-content">
                        <h2 class="card-title">{{ secret }}</h2>
                        <p> {{ description_secret }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{# === CAS 3 : le joueur gagne (resultat == True) === #}
{% else %}
<!--
    <div class="image-block correct">
        <h3>Le bon personnage :</h3>
        <img src="{{ secret_image }}" alt="{{ secret }}">
        <p>{{ secret }}</p>
    </div>

    -->

<div class="wrapper" id="good-guess">
            <div class="card">
                <div class="front-page">
                    <img src="{{ secret_image }}" alt="{{ secret }}">
                    <div class="card-info">
                        <h2 class="card-title">{{ secret }}</h2>
                    </div>

                </div>
                <div class="back-page">
                    <div class="card-content">
                        <h2 class="card-title">{{ secret }}</h2>
                        <p> {{ description_secret }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

<div class="restart-wrapper" style="display: flex; gap: 20px; justify-content: center;">
    <button class="restart-button" onclick="window.location.href='/reset'">
        Retour à l'accueil
    </button>

    <button class="restart-button" onclick="window.location.href='/rejouer'">
        Rejouer une partie
    </button>
</div>
</body>
</html>
