<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Harry Potter</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/stylesheet.css">
</head>

<body class="page-jeu">
<nav class="liens_menu" id="liens_menu">
			<a href="{{ url_for('accueil') }}" class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Harry_Potter_wordmark.svg" alt="Harry Potter">
            </a>
			<ul>
        		<li class="menu-items"><a href="">Mode Solo</a></li>
                <li class="menu-items"><a href="">Mode Duel</a></li>

			</ul>
    </nav>
    <header class="header_jeu">
        <div class="header_text appear">
            <h1 >Mode Solo</h1>
            <h4>La magie est dans les détails… sauras-tu percer le mystère ?</h4>
        </div>
    </header>

    <h1>La salle des portraits est ouverte.</h1>
    <h3>Ton objectif : identifier le bon personnage parmi tous ceux présents ici. Analyse chaque détail, élimine les suspects et mène ton enquête avec précision. Le mystère ne résistera pas longtemps à un bon détective !</h3>

    <div class="grille">
        {% for nom, image in personnages.items() %}
            <div class="carte {% if nom in elimines %}eliminee{% endif %}" data-nom="{{ nom }}">
                <img src="{{ image }}" alt="{{ nom }}">
                <p>{{ nom }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Posez une question :</h2>

    <form method="POST" action="/jeu">
        <select name="question" required style="width: 200px;">
            <option value="">-- Choisir une question --</option>

            {% for q in questions %}
                {% set i = loop.index0 %}
                <option value="{{ i }}" {% if i in asked_questions %}disabled style="color: grey;"{% endif %}>
                    {{ q.question }}
                </option>
            {% endfor %}
        </select>

        <button type="submit" style="width: 200px;">Poser la question</button>
    </form>

    {% if reponse %}
        <div class="simple-answer {{ 'yes' if reponse == 'Oui' else 'no' }}">
            {{ reponse }}
        </div>
    {% endif %}

    <h2>Devinez un personnage:</h2>

    <form method="POST" action="/jeu">
        <select name="guess" required style="width: 200px;">
            <option value="">-- Choisir un personnage --</option>

            {% for nom in personnages.keys() %}
                {% if nom not in elimines %}
                    <option value="{{ nom }}">{{ nom }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <button type="submit" style="width: 200px;">Deviner le personnage</button>
    </form>

    <script>
      document.querySelectorAll('.carte').forEach(card => {
        card.addEventListener('click', async () => {
          const nom = card.dataset.nom;

          await fetch(`/toggle_elimine/${encodeURIComponent(nom)}`, {
            method: 'POST'
          });

          card.classList.toggle('eliminee');
        });
      });
    </script>
</body>
</html>
